
@font-face {
  font-family: 'Noto Nastaliq Urdu ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoNastaliqUrdu-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSans-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Avestan ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansAvestan-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Balinese ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansBalinese-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Batak ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansBatak-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Bengali ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansBengali-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Bhaiksuki ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansBhaiksuki-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Brahmi ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansBrahmi-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Buginese ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansBuginese-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Buhid ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansBuhid-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Chakma ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansChakma-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Cham ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansCham-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Devanagari ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansDevanagari-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Grantha ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansGrantha-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Gujarati ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansGujarati-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans GunjalaGondi ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansGunjalaGondi-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Gurmukhi ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansGurmukhi-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans HanifiRohingya ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansHanifiRohingya-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Hanunoo ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansHanunoo-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Javanese ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansJavanese-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Kaithi ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansKaithi-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Kannada ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansKannada-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans KayahLi ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansKayahLi-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Kharoshthi ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansKharoshthi-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Khmer ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansKhmer-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Khojki ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansKhojki-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Khudawadi ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansKhudawadi-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Lao ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansLao-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Lepcha ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansLepcha-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Limbu ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansLimbu-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Lisu ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansLisu-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Mahajani ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansMahajani-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Malayalam ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansMalayalam-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Marchen ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansMarchen-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans MasaramGondi ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansMasaramGondi-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans MeeteiMayek ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansMeeteiMayek-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Modi ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansModi-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Mro ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansMro-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Multani ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansMultani-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Myanmar ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansMyanmar-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans NewTaiLue ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansNewTaiLue-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Newa ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansNewa-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans OlChiki ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansOlChiki-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans OldPersian ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansOldPersian-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Oriya ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansOriya-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans PhagsPa ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansPhagsPa-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Rejang ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansRejang-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Saurashtra ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansSaurashtra-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Sharada ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansSharada-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Siddham ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansSiddham-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Sinhala ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansSinhala-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans SoraSompeng ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansSoraSompeng-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Soyombo ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansSoyombo-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Sundanese ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansSundanese-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans SylotiNagri ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansSylotiNagri-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Syriac ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansSyriac-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Tagalog ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansTagalog-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Tagbanwa ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansTagbanwa-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans TaiLe ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansTaiLe-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans TaiTham ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansTaiTham-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans TaiViet ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansTaiViet-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Takri ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansTakri-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Tamil ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansTamil-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Telugu ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansTelugu-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Thaana ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansThaana-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Thai ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansThai-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Tirhuta ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansTirhuta-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans Wancho ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansWancho-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans WarangCiti ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansWarangCiti-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Sans ZanabazarSquare ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSansZanabazarSquare-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Serif ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSerif-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Serif Ahom ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSerifAhom-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Serif Balinese ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSerifBalinese-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Serif Dogra ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSerifDogra-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Serif Grantha ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSerifGrantha-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Serif Gujarati ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSerifGujarati-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Serif Khmer ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSerifKhmer-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Serif Tibetan ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSerifTibetan-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Serif Hebrew ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSerifHebrew-Regular.ttf')
}
  
@font-face {
  font-family: 'Noto Serif Khojki ';
  src: url('https://cdn.jsdelivr.net/gh/virtualvinodh/aksharamukha-notomirror/merged/NotoSerifKhojki-Regular.ttf')
}
  